.primary {
  color: var(--text-primary);
}

.inverted {
  color: var(--text-inverted-primary);
}

.sectionTitle {
  margin-bottom: var(--header-height);
}

h1 {
  font-size: var(--font-z-xxxl)
}

h2 {
  font-size: var(--font-z-xxl);
}

h3 {
  font-size: var(--font-z-xl);
}
h4 {
  font-size: var(--font-z-l);
}