.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form {
  max-width: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button {
  align-self: flex-end;
}